html {
  text-size-adjust: 100%;
}

body {
  font-size: 16px;
  font-family: helvetica, sans-serif;
  line-height: 1.4em;
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b3b0b0;
}
header img {
  background-image: url("logo.png");
}

h1 {
  margin-left: 20px;
}
header ul {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 10px;
}
header li {
padding-left: 30px;
font-weight: bold;
}
header li a {
  text-decoration: none;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: auto;
}

.bigBox {
  display: flex;
  width: 446px;
  margin: 10px 9px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  /*padding: 10px;*/
}
.bigBox img {
  display: flex;
  margin: 10px;
  height: 424px;
  width: 424px;
}

.image {
  border-radius: 3px;
  border: 1px solid #cacaca;
}
.bigBox span {
  margin: 5px;
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.byline {
  display: flex;
  justify-content: center;
    align-items: center;
}
.byline span {
  margin: 2px;
}

span {
  color: rgb(102, 102, 102);
}

span.name {
 color: rgb(50, 50, 50);
}

.square {
  height: 30px;
  width: 30px;
  background-color: pink;
  border-radius: 3px;
}
@media screen and (max-width: 700px) {
  .item  {
    height: 200px;
    width: 200px;
    padding: 10px;
  }
  .item img {
    height: 200px;
    width: 200px;
  }
}
